<!DOCTYPE html>
<html>
  <head>
    <title>TestApp2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= javascript_include_tag "application" %>
    <%= custom_bootstrap_flash %>
    
    <div class= "container">
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
